{% extends 'base.html' %}

{% block title %} Blogpost{% endblock title %}

{% block body %}
<div class="container">
  <article>
  {% for post in posts %} 
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">   
      <div class="col p-4 d-flex flex-column position-static">                
        <h3>{{post.title}}<sup class=" text-primary small"></h3>
        <p><strong class="d-inline-block text-primary">Posted By {{post.author}}</strong> 
          at {{post.timeStamp}}</p> 
      <p>
      {{post.excert}}
      <a href="/blog/{{post.slug}}" class="my-2">
      Continue reading</a> 
      </p>            
    </div>  
    </div>
    {% endfor %}  
  </article>

 <nav aria-label="Page navigation example">
  <ul class="pagination ">
  {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{posts.previous_page_number}}">Prev</a>
    </li>
   {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{posts.number}}</a></li>
    
  {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
    </li>
  {% endif %}
  </ul>
</nav>

</div>
 {% endblock %}